@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair+Display&display=swap");
@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    135deg,
    #1a0a16,
    #131927
  ); /* or any cool gradient */
  font-family: "Exo 2", sans-serif;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
